# Node files
node_modules
.resources
package-lock.json

# Thumbnail and view configuration files
._*
.DS_Store
Desktop.ini
Thumbs.db

# Jekyll artifacts
_site
.jekyll-cache
docs/Gemfile.lock

# External disk files
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
